# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: [pre-commit, commit-msg]
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
        stages: [pre-commit, manual ]
    -   id: end-of-file-fixer
        stages: [ pre-commit, manual ]
    -   id: check-yaml
        stages: [ pre-commit, manual ]
    -   id: check-added-large-files
        stages: [ pre-commit, manual ]
    -   id: check-merge-conflict
        stages: [ pre-commit, manual ]
    -   id: check-toml
        stages: [ pre-commit, manual ]
    -   id: check-vcs-permalinks
        stages: [ pre-commit, manual ]
    -   id: no-commit-to-branch
        stages: [ pre-commit, manual ]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
    -   id: mypy
        stages: [ manual ]
-   repo: https://github.com/asottile/dead
    rev: v1.5.2
    hooks:
    -   id: dead
        stages: [ manual ]
- repo: https://github.com/PyCQA/isort
  rev: 5.12.0
  hooks:
      - id: isort
        stages: [ pre-commit, manual ]
        args: ["--profile=black"]
- repo: https://github.com/psf/black
  rev: 23.1.0
  hooks:
      - id: black
        stages: [ pre-commit, manual ]
- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.5.0
  hooks:
      - id: commitlint
        stages: [commit-msg, manual]
