name: Coverage
on:
  pull_request:
    branches:
      - main

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Fetch Repository
        uses: actions/checkout@v3

      - name: Setup environment
        uses: ./.github/actions/setup_test_environment

      - name: Create coverage report
        run: uv run python -m pytest --cov-report xml --cov elasticai.creator  -m "not simulation" tests elasticai

      - name: Publish coverage report
        uses: orgoro/coverage@v3.1
        with:
          coverageFile: coverage.xml
          token: ${{ secrets.GITHUB_TOKEN }}
